<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="com.vaadin.integration.eclipse.core">
         <label>
            Vaadin Plug-in for Eclipse
         </label>
      </project-facet>
      <project-facet-version
            facet="com.vaadin.integration.eclipse.core"
            version="1.0">
         <constraint>
         <and>
            <requires
                  facet="jst.java"
                  version="[5.0">
         </requires>
         <requires
                  facet="jst.web"
                  version="[2.3">
         </requires>
         </and>
         </constraint>
      </project-facet-version>
      <project-facet-version
            facet="com.vaadin.integration.eclipse.core"
            version="7.0">
         <constraint>
         <and>
            <requires
                  facet="jst.java"
                  version="[6.0">
         </requires>
         <requires
                  facet="jst.web"
                  version="[2.4">
         </requires>
         </and>
         </constraint>
      </project-facet-version>
      <action
            facet="com.vaadin.integration.eclipse.core"
            id="com.vaadin.integration.eclipse.core-install"
            type="install">
         <delegate
               class="com.vaadin.integration.eclipse.CoreFacetInstallDelegate">
         </delegate>
         <config-factory
               class="com.vaadin.integration.eclipse.configuration.VaadinFacetInstallDataModelProvider">
         </config-factory>
      </action>
      <action
            facet="com.vaadin.integration.eclipse.core"
            id="com.vaadin.integration.eclipse.core-uninstall"
            type="uninstall">
         <delegate
               class="com.vaadin.integration.eclipse.CoreFacetUninstallDelegate">
         </delegate>
      </action>
      <action
            facet="com.vaadin.integration.eclipse.core"
            id="com.vaadin.integration.eclipse.core-version-change"
            type="version-change">
         <delegate
               class="com.vaadin.integration.eclipse.CoreFacetVersionChangeDelegate">
         </delegate>
      </action>
      <template id="template.vaadin6">
         <label>Vaadin 6 Project (deprecated)</label>
         <fixed facet="jst.java"/>
         <fixed facet="jst.web"/>
         <fixed facet="com.vaadin.integration.eclipse.core"/>
      </template>
      <template id="template.vaadin7">
         <label>Vaadin 7 Ivy Project (deprecated)</label>
         <fixed facet="jst.java"/>
         <fixed facet="jst.web"/>
         <fixed facet="com.vaadin.integration.eclipse.core"/>
      </template>
   </extension>
   <extension point="org.eclipse.wst.common.project.facet.core.presets">
      <dynamic-preset id="com.vaadin.integration.eclipse.presetv6d">
         <factory class="com.vaadin.integration.eclipse.wizards.Vaadin6PresetFactory"/>
      </dynamic-preset>
      <dynamic-preset id="com.vaadin.integration.eclipse.presetv7d">
         <factory class="com.vaadin.integration.eclipse.wizards.Vaadin7PresetFactory"/>
      </dynamic-preset>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="com.vaadin.integration.eclipse.core">
         </facet> 
         <runtime-component
               any="true">
         </runtime-component>
      </supported>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            facet="com.vaadin.integration.eclipse.core"
            path="icons/vaadin-icon-16.png">
      </image>
   </extension>

    <extension
         id="VaadinUIProjectWizards"
         point="org.eclipse.ui.newWizards">
      <category
            name="Vaadin"
            id="com.vaadin">
      </category>
      <wizard
            name="Vaadin 7 Maven Project"
            icon="icons/new-project-16.png"
            category="com.vaadin"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="com.vaadin.integration.eclipse.wizards.Vaadin7MavenProjectWizard">
         <class class="com.vaadin.integration.eclipse.wizards.Vaadin7MavenProjectWizard">
            <parameter name="menuIndex" value="20" />
         </class>
         <description>
            Create a Vaadin 7.x Maven project.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource" />
      </wizard>
      <wizard
            name="Vaadin 6 Project (deprecated)"
            icon="icons/new-project-16.png"
            category="com.vaadin"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="com.vaadin.integration.eclipse.wizards.Vaadin6ProjectWizard">
         <class class="com.vaadin.integration.eclipse.wizards.Vaadin6ProjectWizard">
            <parameter name="javaeeproject" value="true"/>
            <parameter name="menuIndex" value="25" />
         </class>
         <description>
            Create a Vaadin 6.x project.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource" />
      </wizard>
      <wizard
            name="Vaadin 7 Ivy Project (deprecated)"
            icon="icons/new-project-16.png"
            category="com.vaadin"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="com.vaadin.integration.eclipse.wizards.Vaadin7ProjectWizard">
         <class class="com.vaadin.integration.eclipse.wizards.Vaadin7ProjectWizard">
            <parameter name="javaeeproject" value="true"/>
            <parameter name="menuIndex" value="25" />
         </class>
         <description>
            Create a Vaadin 7.x project.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource" />
      </wizard>
	</extension>
	<!-- This affects the navigator view and the file menu but not the Project Explorer -->
    <extension
       point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
          <newWizardShortcut id="com.vaadin.integration.eclipse.wizards.Vaadin7MavenProjectWizard"/>
          <newWizardShortcut id="com.vaadin.integration.eclipse.wizards.Vaadin7ProjectWizard"/>
       </perspectiveExtension>
    </extension>
	<!-- This is required to have the New Vaadin Project in the project explorer top-level menu -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard type="new" wizardId="com.vaadin.integration.eclipse.wizards.Vaadin7MavenProjectWizard" menuGroupId="org.eclipse.jst.j2ee.ui.newProjects">
          <enablement></enablement>
       </commonWizard>
       <commonWizard type="new" wizardId="com.vaadin.integration.eclipse.wizards.Vaadin7ProjectWizard" menuGroupId="org.eclipse.jst.j2ee.ui.newProjects">
          <enablement></enablement>
       </commonWizard>
    </extension>
	
   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages
            action="com.vaadin.integration.eclipse.core-install">
         <page
               class="com.vaadin.integration.eclipse.VaadinCoreFacetInstallPage">
         </page>
      </wizard-pages>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.vaadin"
            name="Vaadin">
      </category>
      <wizard
            category="com.vaadin"
            class="com.vaadin.integration.eclipse.wizards.NewThemeWizard"
            icon="icons/new-theme-16.png"
            id="com.vaadin.integration.eclipse.wizards.NewThemeWizard"
            name="Vaadin Theme">
      </wizard>
      <wizard
            category="com.vaadin"
            class="com.vaadin.integration.eclipse.wizards.NewComponentWizard"
            icon="icons/new-widget-16.png"
            id="com.vaadin.integration.eclipse.wizards.NewComponentWizard"
            name="Vaadin Widget">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
	     name="Vaadin"
	     id="com.vaadin">
	  </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Vaadin Add-on Package"
            icon="icons/vaadin-icon-16.png"
            class="com.vaadin.integration.eclipse.wizards.DirectoryPackageWizard"
            category="com.vaadin"
            id="com.vaadin.integration.eclipse.wizards.DirectoryPackageWizard">
         <description>
            Configure and export a Vaadin add-on package JAR.
Any metadata changes made will be stored in the project manifest.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         id="com.vaadin.integration.eclipse.wizards.WarExportCompileWidgetsetOperation"
         name="Compile Widgetset"
         point="org.eclipse.wst.common.frameworks.OperationExtension">
      <operationExtension
            preOperationClass="com.vaadin.integration.eclipse.wizards.WarExportCompileWidgetsetOperation"
            id="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentExportOperation">
      </operationExtension>
   </extension>   
   
   <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
	<renameParticipant
		id="com.vaadin.integration.eclipse.WebContextRenameParticipant" 
		name="Vaadin web context rename participant"
		class="com.vaadin.integration.eclipse.refactoring.WebContextRenameParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</renameParticipant>
	<renameParticipant
		id="com.vaadin.integration.eclipse.LaunchRenameParticipant" 
		name="Vaadin launch configuration rename participant"
		class="com.vaadin.integration.eclipse.refactoring.LaunchRenameParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</renameParticipant>
	<renameParticipant
		id="com.vaadin.integration.eclipse.WidgetSetRenameParticipant" 
		name="Vaadin widgetset rename participant"
		class="com.vaadin.integration.eclipse.refactoring.WidgetSetRenameParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</renameParticipant>
</extension>
   <extension point="org.eclipse.ltk.core.refactoring.moveParticipants">
	<moveParticipant
		id="com.vaadin.integration.eclipse.WebContextMoveParticipant" 
		name="Vaadin web context move participant"
		class="com.vaadin.integration.eclipse.refactoring.WebContextMoveParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</moveParticipant>
	<moveParticipant
		id="com.vaadin.integration.eclipse.LaunchMoveParticipant" 
		name="Vaadin launch configuration move participant"
		class="com.vaadin.integration.eclipse.refactoring.LaunchMoveParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</moveParticipant>
	<moveParticipant
		id="com.vaadin.integration.eclipse.WidgetSetMoveParticipant" 
		name="Vaadin widgetset move participant"
		class="com.vaadin.integration.eclipse.refactoring.WidgetSetMoveParticipant">
		<enablement>
			<with variable="affectedNatures">
				<iterate operator="or">
					<equals value="org.eclipse.jdt.core.javanature" />
				</iterate>
			</with>
		</enablement>
	</moveParticipant>
</extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.vaadin.integration.eclipse.decorators.ApplicationDecorator"
            id="com.vaadin.integration.eclipse.decorators.application"
            label="Vaadin Application Decorator"
            lightweight="true"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.vaadin.integration.eclipse.properties.VaadinProjectPropertyPage"
            id="com.vaadin.integration.eclipse.properties.VaadinProjectPropertyPage"
            name="Vaadin">
            <filter
                name="nature"
                value="org.eclipse.wst.common.project.facet.core.nature">
            </filter>
            <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject"/> 
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            variable="VAADIN_DOWNLOAD"
            class="com.vaadin.integration.eclipse.variables.VaadinClasspathVariableInitializer"
            readOnly="true">
      </classpathVariableInitializer>
   </extension>
   <extension
         id="widgetsetBuilder"
         name="Widgetset Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.vaadin.integration.eclipse.builder.WidgetsetBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="widgetsetNature"
         name="Widgetset Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.vaadin.integration.eclipse.builder.WidgetsetNature">
         </run>
      </runtime>
      <builder
            id="com.vaadin.integration.eclipse.widgetsetBuilder">
      </builder>
   </extension>
   
   <extension
         id="addonStylesBuilder"
         name="Addon Styles Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="com.vaadin.integration.eclipse.builder.AddonStylesBuilder" />        
      </builder>
   </extension>
   
   
   <!-- TODO make the commands/buttons/handlers so that compile widgetset is 
    "dropdown button" with all available compilable widgetsets.   -->
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.vaadin.integration.eclipse.commands.category"
            name="Vaadin Category">
      </category>
      <command
            categoryId="com.vaadin.integration.eclipse.commands.category"
            id="com.vaadin.integration.eclipse.commands.compileWidgetsetCommand"
            name="Compile Widgetset Command">
      </command>
   </extension>
   <!-- These are still here mostly for the keyboard shortcut -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.vaadin.integration.eclipse.handlers.CompileWidgetsetHandler"
            commandId="com.vaadin.integration.eclipse.commands.compileWidgetsetCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.vaadin.integration.eclipse.commands.compileWidgetsetCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.vaadin.integration.eclipse.toolbars.vaadinToolbar"
               label="Vaadin">
            <command
                  commandId="com.vaadin.integration.eclipse.commands.compileWidgetsetCommand"
                  icon="icons/compile-widgetset-16.png"
                  id="com.vaadin.integration.eclipse.toolbars.compileWidgetsetCommand"
                  tooltip="Compile Vaadin widgets">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
-->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Compile Vaadin Theme or Widgetset Toolbar"
            visible="true"
            id="com.vaadin.integration.eclipse.actionSet">
         <action
               class="com.vaadin.integration.eclipse.toolbars.VaadinPulldownMenuAction"
               icon="icons/compile-dropdown-16.png"
               id="com.vaadin.integration.eclipse.toolbars.VaadinPulldownAction"
               label="Compile Theme or Widgetset"
               style="pulldown"
               toolbarPath="com.vaadin.integration.eclipse.toolbars/additions"
               tooltip="Compile Vaadin Theme or Widgetset">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="com.vaadin.integration.eclipse.server.WidgetsetPublishDelegate"
            id="com.vaadin.integration.eclipse.server.WidgetsetPublishDelegate"
            typeIds="*">
      </publishTask>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
         <consolePageParticipant
            class="com.vaadin.integration.eclipse.pageparticipants.CompileConsoleParticipant"
            id="com.vaadin.integration.eclipse.CompileConsoleParticipant">
         <enablement>
            <or>
               <instanceof
                     value="com.vaadin.integration.eclipse.consoles.CompileWidgetsetConsole">
               </instanceof>
               <instanceof
                     value="com.vaadin.integration.eclipse.consoles.CompileThemeConsole">
               </instanceof>
            </or>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.vaadin.integration.eclipse.preferences.VaadinPreferences"
            id="com.vaadin.integration.eclipse.preferences.VaadinPreferences"
            name="Vaadin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vaadin.integration.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.vaadin.integration.eclipse.notifications"
               label="%notifications.toolbar">
            <control
                  class="com.vaadin.integration.eclipse.notifications.NotificationsContribution"
                  id="%notifications.control">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
