<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="vaadin-eclipse-plugin.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="vaadin-eclipse-plugin.commands.category"
            name="Sample Command"
            id="vaadin-eclipse-plugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.vaadin.plugin.SampleHandler"
            commandId="vaadin-eclipse-plugin.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="vaadin-eclipse-plugin.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="vaadin-eclipse-plugin.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="vaadin-eclipse-plugin.commands.sampleCommand"
                  id="vaadin-eclipse-plugin.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="vaadin-eclipse-plugin.toolbars.sampleToolbar">
            <command
                  id="vaadin-eclipse-plugin.toolbars.sampleCommand"
                  commandId="vaadin-eclipse-plugin.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
  </extension>

  <extension
        point="org.eclipse.ui.startup">
     <startup class="com.vaadin.plugin.EarlyStartup"/>
  </extension>
  
  <extension
        point="org.eclipse.wst.server.core.publishTasks">
     <publishTask
           id="com.vaadin.plugin.publishTask"
           class="com.vaadin.plugin.launch.VaadinPublishParticipant"
           typeIds="*">
     </publishTask>
  </extension>

  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.vaadin.plugin.wizards"
           name="Vaadin">
     </category>
     <wizard
           category="com.vaadin.plugin.wizards"
           class="com.vaadin.plugin.wizards.NewVaadinProjectWizard"
           icon="icons/vaadin-icon.png"
           id="com.vaadin.plugin.wizards.NewVaadinProjectWizard"
           name="Vaadin Project"
           project="true">
        <description>
           Create a new Vaadin project from a starter template
        </description>
     </wizard>
  </extension>
  
  <!-- Hotswap Agent actions -->
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="com.vaadin.plugin.hotswap.contribution"
           objectClass="org.eclipse.core.resources.IProject"
           adaptable="true">
        <menu
              id="com.vaadin.plugin.menu"
              label="Vaadin"
              path="additions">
           <separator name="group1"/>
        </menu>
        <action
              class="com.vaadin.plugin.actions.DebugWithHotswapAction"
              enablesFor="1"
              id="com.vaadin.plugin.actions.debugWithHotswap"
              label="Debug with Hotswap Agent"
              menubarPath="com.vaadin.plugin.menu/group1"
              tooltip="Debug this project with Hotswap Agent for enhanced class reloading">
        </action>
     </objectContribution>
  </extension>
  
  <!-- Launch configuration type for Hotswap -->
  <extension
        point="org.eclipse.debug.core.launchDelegates">
     <launchDelegate
           id="com.vaadin.plugin.hotswap.launchDelegate"
           type="org.eclipse.jdt.launching.localJavaApplication"
           delegate="com.vaadin.plugin.hotswap.HotswapLaunchConfigurationDelegate"
           modes="debug"
           name="Hotswap Agent Debug">
     </launchDelegate>
  </extension>
  
  <!-- Run/Debug toolbar actions -->
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="com.vaadin.plugin.commands.debugWithHotswap"
           name="Debug with Hotswap Agent"
           description="Debug the selected project with Hotswap Agent">
     </command>
  </extension>
  
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="com.vaadin.plugin.actions.DebugWithHotswapAction"
           commandId="com.vaadin.plugin.commands.debugWithHotswap">
        <activeWhen>
           <with variable="selection">
              <iterate ifEmpty="false">
                 <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature"
                          value="org.eclipse.jdt.core.javanature"/>
                 </adapt>
              </iterate>
           </with>
        </activeWhen>
     </handler>
  </extension>
  
  <!-- Launch shortcut for Debug As menu -->
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           id="com.vaadin.plugin.hotswap.launchShortcut"
           class="com.vaadin.plugin.hotswap.HotswapLaunchShortcut"
           label="Java Application using Hotswap Agent"
           icon="icons/vaadin-icon.png"
           modes="debug">
        <contextualLaunch>
           <enablement>
              <with variable="selection">
                 <count value="1"/>
                 <iterate>
                    <or>
                       <!-- Java files -->
                       <adapt type="org.eclipse.jdt.core.ICompilationUnit">
                          <test property="org.eclipse.jdt.core.hasMain"/>
                       </adapt>
                       <!-- Java types -->
                       <adapt type="org.eclipse.jdt.core.IType">
                          <test property="org.eclipse.jdt.core.hasMain"/>
                       </adapt>
                       <!-- Java elements in general -->
                       <adapt type="org.eclipse.jdt.core.IJavaElement">
                          <test property="org.eclipse.jdt.core.isInJavaProject"/>
                       </adapt>
                       <!-- Resources that might contain Java -->
                       <and>
                          <adapt type="org.eclipse.core.resources.IResource">
                             <test property="org.eclipse.core.resources.projectNature"
                                   value="org.eclipse.jdt.core.javanature"/>
                          </adapt>
                       </and>
                    </or>
                 </iterate>
              </with>
           </enablement>
        </contextualLaunch>
        <configurationType
              id="org.eclipse.jdt.launching.localJavaApplication">
        </configurationType>
        <description
              description="Debug a Java application with Hotswap Agent for enhanced class reloading"
              mode="debug">
        </description>
     </shortcut>
  </extension>

</plugin>
