<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
        point="org.eclipse.ui.startup">
     <startup class="com.vaadin.plugin.EarlyStartup"/>
  </extension>

  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.vaadin.plugin.wizards"
           name="Vaadin">
     </category>
     <wizard
           category="com.vaadin.plugin.wizards"
           class="com.vaadin.plugin.wizards.NewVaadinProjectWizard"
           icon="icons/vaadin.png"
           id="com.vaadin.plugin.wizards.NewVaadinProjectWizard"
           name="Vaadin Project"
           project="true">
        <description>
           Create a new Vaadin project from a starter template
        </description>
     </wizard>
  </extension>
  
  <!-- Launch shortcut for Debug As menu -->
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           id="com.vaadin.plugin.hotswap.launchShortcut"
           class="com.vaadin.plugin.hotswap.HotswapLaunchShortcut"
           label="Debug using Hotswap Agent"
           icon="icons/vaadin.png"
           modes="debug">
        <contextualLaunch>
           <enablement>
              <with variable="selection">
                 <count value="1"/>
                 <iterate>
                    <or>
                       <!-- Java files (any Java file in project) -->
                       <adapt type="org.eclipse.jdt.core.ICompilationUnit">
                          <test property="org.eclipse.jdt.core.isInJavaProject"/>
                       </adapt>
                       <!-- Java types (any type in project) -->
                       <adapt type="org.eclipse.jdt.core.IType">
                          <test property="org.eclipse.jdt.core.isInJavaProject"/>
                       </adapt>
                       <!-- Java project -->
                       <adapt type="org.eclipse.jdt.core.IJavaProject"/>
                       <!-- Java elements in general -->
                       <adapt type="org.eclipse.jdt.core.IJavaElement">
                          <test property="org.eclipse.jdt.core.isInJavaProject"/>
                       </adapt>
                       <!-- Resources that might contain Java -->
                       <and>
                          <adapt type="org.eclipse.core.resources.IResource">
                             <test property="org.eclipse.core.resources.projectNature"
                                   value="org.eclipse.jdt.core.javanature"/>
                          </adapt>
                       </and>
                    </or>
                 </iterate>
              </with>
           </enablement>
        </contextualLaunch>
        <configurationType
              id="org.eclipse.jdt.launching.localJavaApplication">
        </configurationType>
        <description
              description="Debug a Java application with Hotswap Agent for enhanced class reloading"
              mode="debug">
        </description>
     </shortcut>
  </extension>
  
  <!-- Builder for generating files during compilation -->
  <!-- This builder checks for Vaadin dependencies internally -->
  <extension
        id="vaadinBuilder"
        name="Vaadin Builder"
        point="org.eclipse.core.resources.builders">
     <builder>
        <run
              class="com.vaadin.plugin.builder.VaadinBuildParticipant">
        </run>
     </builder>
  </extension>

  <!-- Preferences -->
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           id="com.vaadin.plugin.preferences.VaadinPreferencePage"
           name="Vaadin"
           class="com.vaadin.plugin.preferences.VaadinPreferencePage">
     </page>
  </extension>

  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.vaadin.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>

  <extension
        point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
     <hyperlinkDetector
           id="com.vaadin.plugin.navigation.StyleSheetHyperlinkDetector"
           name="StyleSheet Hyperlink Detector"
           description="Detects hyperlinks in @StyleSheet annotations"
           class="com.vaadin.plugin.navigation.StyleSheetHyperlinkDetector"
           targetId="org.eclipse.jdt.ui.javaCode">
     </hyperlinkDetector>
  </extension>

</plugin>
